.mainheading{
    text-align: center;

.input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.section,.code{margin-top:16px!important;margin-bottom:16px!important}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonround {border-radius: 50%;}

.interests {
  font-size: 20px;
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
}

#header {
  height: 40px;
  width: 100%;
  background-color: #ffcccc;
  position: fixed;
  z-index: 1;
}

#btncontact{
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
	#btncontact ul{}
		#btncontact ul li{
			display: inline-block;
			height: 62px;
		}
			#btncontact ul li a{
				padding: 20px;
				background: orange;
				color: white;
			}
			#btncontact ul li a:hover{
				background-color: #ffb424;
				box-shadow: 0px 1px 1px #666;
			}
			#btncontact ul li a:active{ background-color: #ff8f00; }
