.mainheading{
    text-align: center;

.input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.section,.code{margin-top:16px!important;margin-bottom:16px!important}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttonround {border-radius: 50%;}

.interests {
  font-size: 20px;
}

.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
}

#header {
  height: 40px;
  width: 100%;
  background-color: #ffcccc;
  position: fixed;
  z-index: 1;
}

